.listContainer {
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}


.title {
    text-align: center;
    margin: 0 auto 80px;
}

.list {
    width: 50%;
    margin: 0 auto;
}

.adButton {
    outline: none;
    border: 0 none;
    appearance: none;
    cursor: pointer;
    display: block;
    width: 15%;
    margin: 30px auto;
    padding: 15px 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 3px 2px #d8d8d8;
}