.popup {
    position: fixed;
    width: 25%;
    margin: 0px auto 0;
    right: 0;
    left: 0;
    top: 25%;
    padding: 30px 20px;
    border: 2px solid #a5a2a2;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    z-index: 510;
}

.input,
.neonInput{
    display: block;
    width: 65%;
    margin: 20px auto;
    padding: 7px 15px;
    border: 1px solid #a5a2a2;
}

.neonInput::-webkit-input-placeholder {
    color: #00FF00,
}

.neonInput::-moz-placeholder {
    color: #00FF00,
}

.neonInput:-moz-placeholder {
    color: #00FF00,
}


.neonInput:-ms-input-placeholder {
    color: #00FF00,
}

.options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.option {
    outline: none;
    border: 0 none;
    appearance: none;
    cursor: pointer;
    display: block;
    width: 30%;
    margin: 20px auto 0;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 0 3px 2px #d8d8d8;
}